@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-blue:#0b99db;
    --gray-background:#e2e8f0;
    --golden-yellow: #FFEB3B;
    --gray-text: #424242;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;
    justify-content: center;
    background-color: black;
}

#full-content {
    display: grid;
    height: 100%;
    width: 70%;
    grid-template-columns: 2fr 7.5fr;
    grid-template-rows: 1.05fr 5fr;
}

/* sidebar */


#sidebar {
    font-weight: 550;
    color: white;
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--color-blue);
    min-width: 150px; /* responsiveness */
    padding-top: 5%;
    padding-left: 5%;
}

.sidebar-icon {
    filter: invert(100%) brightness(100%);
}


#dashboard-title {
    font-size: 150%;
    display:flex;
    width: 45px;
    align-items: center;
    gap: 20%;
}

.sidebar-links {
    text-decoration: none;
    color: white;
}


.sidebar-options {
    font-size: 120%;
    display:flex;
    width: 25px;
    align-items: center;
    gap: 80%;
}

#sidebar-section-one {
    display:grid;
    gap:20px;
    padding-top: 20%;
    padding-bottom: 25%;
    padding-left: 5%;

}

#sidebar-section-two {
    display:grid;
    gap:20px;
    padding-left: 5%;
}

/* header section */

#header {
    grid-area: 1 / 2 / 2 / 2;
    display: grid;
    background-color: white;
    grid-template-columns: 1.8fr 1fr;
    grid-template-rows: 75px 75px;
    padding-left: 4%;
    padding-right: 4%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#header-input {
    border: none;  
    outline: none;
    border-radius: 20px;
    background-color: #e2e8f0;
    width: 85%;
    font-family: inherit;
    font-size: 110%;
    padding: 14px;
    transition: all 0.3s ease;
}

#input-section {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-self: center;
    gap:2%;
    height: 30%;
}
#header-input:focus {
    box-shadow: 0 0 8px var(--color-blue);
    outline: none;
}

.header-links {
    color: black;
    text-decoration: none;
    display: inline-flex;
}

#user-and-notifications {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    gap: 5%;
    height: 30%;
    align-self: center;
    justify-content: center;
}

#welcome-user {
    grid-area: 2 / 1 / 2 / 1;
    display: flex;
    gap: 2%;
}

#hi-there-user {
    font-weight: bolder;
    align-self: center;
}

#user-title {
    font-size: 130%;
}

#big-profile-icon {
    display: flex;
    height: 95%;
}

#header-buttons {
    display: flex;
    justify-content: left;
    align-self: center;
    gap: 10%;
}

#blue-buttons {
    font-weight: bold;
    font-size: 80%;
    color: white;
    border-style: solid;
    background-color: #0b99db;
    border-color: #0b99db;
    border-radius: 30px;
    width: 50%;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

#blue-buttons:active {
    background-color: white;
    color: var(--color-blue);
}

/* main content section */

#main-content {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--gray-background);
    grid-area: 2 / 2 / 2 / 2;
    padding: 2.5%;
    gap: 2%;
}

.main-content-titles {
    font-weight: bold;
    font-size: 110%;
}

#projects-section {
    /* background-color: rgb(24, 73, 73); */
    grid-area: 1 / 1 / 3 / 1;
}

#six-boxes {
    display: grid;
    height: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 1.8%;
    gap: 4%;
}

.project-box {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-left: 10px solid #fdcb43;
    padding: 8%;
    padding-left: 5%;
}

.project-box-title {
    font-weight: 600;
}

.project-title-link {
    color: black;
    text-decoration: none;
    display: inline-flex;
}

.project-box-content {
    font-size: 80%;
    color: var(--gray-text);
}

.project-icons-section {
    display: flex;
    justify-self: center;
    margin-right: -30%; /* this is a 'gambiarra', don't mention it */
    width: 8%;
    gap: 200%;
}

.project-links {
    text-decoration: none;
    display: inline-flex;
}

#announcements-section {
    /* background-color: #6e6a42; */
    grid-area: 1 / 2 / 1 / 2;
}

#announcements-container {
    display: grid;
    border-radius: 10px;
    height: 80%;
    background-color: white;
    margin-top: 5%;
    font-size: 70%;
    padding: 10%;
    padding-bottom: 0%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.announce-title {
    font-weight: bold;
}

.announcement-title-link {
    color: black;
    text-decoration: none;
    display: inline-flex;
}

.announce-content {
    font-size: 90%;
    color: #707070;
}

.announcements-part-two-and-three {
    padding-top: 10%;
    border-top: 1px solid #d4d4d4;
}


#trending-section {
    /* background-color: blueviolet; */
    grid-area: 2 / 2 / 2 / 2;
}

#trending-container {
    display: grid;
    border-radius: 10px;
    height: 72%;
    background-color: white;
    margin-top: 5%;
    font-size: 70%;
    padding: 5%;
    padding-left: 10%;
    padding-right: 0%;
    padding-bottom: 5%;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.trending-user {
    display: flex;
    gap: 5%;
}

.trending-title-link {
    color: black;
    text-decoration: none;
    display: inline-flex;
}

.trending-icon {
    height: 40px;
}

.small-profile-icon {
    display: flex;
    height: 20%;
}

.trending-phrase {
    margin-top: 2.5%;
    color: #707070;
}